# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
*.so
*.o

# Jupyter
.ipynb_checkpoints/

# Local env
.env
.venv/
venv/

# LISEM external/build/runtime files
lisem/
lisem-bin/
qwt-multiaxes-qt6/
WaTEM-SEDEM-python/

# Data and results
results/
inputfiles/
runfiles/
*.map
*.run
*.bak

# Archives
*.zip
*.tar.gz

# Crash/core dumps
vcore.*
core.*

# OS
.DS_Store
Thumbs.db

# crash/debug logs
strace.log
vgcore.*
core.*
*.log
